.chat
  .chat-side
    .chat-user
      %h5=@user.name
      .chat-user__actions
        / ↓歯車とかのロゴ
        =link_to new_chat_group_path, class: "chat-user__action" do
          =icon('pencil-square-o')
        =link_to edit_user_registration_path, class: "chat-user__action" do
          =icon('cog')
    %ul.chat-groups
      -@chat_groups.each do |chat_group|
        %li.chat-group
          =link_to chat_group_messages_path(chat_group.id), class: "chat-group__link" do
            %p.chat-group__name
              =chat_group.name
            %p.chat-group__massage hellow
  .chat-main
